:root {
  --color-pink: #d4418e;
  --color-blue: #0652c5;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

body{
  font-size: 1.6rem;
  overflow: hidden;
}


p {
  font-size: 14px;
  font-style: italic;
}

header {
  background-color: #c2c800;
  grid-column: 1/3;
  z-index: 1;
}
main {
  background-color: white;
  grid-column: 1/2;
}
aside {
  background-color: black;
  grid-column: 2/3;
  grid-row: 2/4;
  z-index: 1;
}


input {
  border: none;
  height: 3.125rem;
  width: 70%;
  border-radius: 0.5rem;
  outline: none;
  font-size: 14px;
  font-family: sans-serif;
}



form fieldset label {
  font-size: 20px;
  font-family: sans-serif;
  font-style: italic;
}


label{
  z-index: 1;
}



#logo-music{
  margin-right: 1rem;
}

#logo-login {
  font-size: 30px;
  margin-top: 18px;
}

#logo-search {
  color: #c2c800;
  font-size: 18px;
}

#search-button {
  border: none;
  margin-left: 4px;
  height: 3.125rem;
  border-radius: 0.5rem;
  width: 5rem;
  cursor: pointer;
}

#sandwich-button-logo {
  font-size: 30px;
  width: 14rem;
  height: 100%;
  background-color: #c2c800;
  border: none;
  
  margin-left: 1rem;
  transition: all 400ms ease-in-out;
  cursor: pointer;
}

#sandwich-button-logo:hover {
  background-color: #969b09;
}

#form {
  background-color: white;
  border-radius: 0.5rem;
  height: 80%;
  width: 50%;
}

#form fieldset {
  height: 100%;
  border: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#button-request {
  width: 60%;
  margin-top: 1.25rem;
  border: none;
  cursor: pointer;
  border-radius: 0.2rem;
  height: 3.125rem;
  transition: 200ms all ease-in-out;
  z-index: 1;
}

#button-request:hover {
  background-color:#c2c800;
}








/*.container{
  background: black;
  
  
  display: grid;
  grid-template-columns: 10fr 10fr 10fr;
  grid-template-rows: 10fr 10fr 10fr;
  
  grid-gap: 5px;
}

.container > div{
  background:#d4418e;
  
  width: 50%;
  height: 50%;
  
  justify-self: center;
  align-self: center;
}*/
